@model IEnumerable<UserEntity>
@{
    ViewData["Title"] = "Fetching Data from Contacts API";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayName("Name")</th>
            <th>@Html.DisplayName("Email")</th>
            <th>@Html.DisplayName("Phone")</th>
            <th>@Html.DisplayName("Address")</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var row in Model)
        {
            <tr>
                <td>@row.FullName</td>
                <td>@row.Email</td>
                <td>@row.Phone</td>
                <td>@row.Address</td>
            </tr>

           @* <tr>
                <td>@row["fullname"]</td>
                <td>@row["email"]</td>
                <td>@row["phone"]</td>
                <td>@row["address"]</td>
            </tr>*@
        }
    </tbody>
</table>
